body {
  background: #020a18;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0px 25px;
}

h2 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}

p {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.7;
}

.header {
  background: #050d1b;
  padding: 22px 0px;
  .container {
     display: flex;
     align-items: center;
  }

  &__logo {
     display: flex;
     align-items: center;
     gap: 15px;
     margin-right: 100px;

     &-text {
        font-family: "Open Sans";
        font-style: normal;
        font-size: 22.5455px;
        line-height: 31px;
        color: #3a68b8;

        transition: 0.7s;
        &:hover {
           color: #e2e0e0;
           transition: 0.7s;
        }
     }
  }

  nav {
     margin-right: auto;
     ul {
        display: flex;
        gap: 40px;
        a {
           font-family: "Open Sans";
           font-weight: 600;
           font-size: 18px;
           line-height: 22px;
           color: #ffffff;

           transition: 0.5s;
           &:hover {
              color: #3a68b8;
              transition: 0.5s;
           }
        }
     }
  }

  button {
     width: 112px;
     height: 52px;
     background: #3a68b8;
     border-radius: 5px;

     font-family: "Open Sans";
     font-weight: 600;
     font-size: 16px;
     line-height: 22px;
     color: #ffffff;

     transition: 0.5s;
     &:hover {
        background: #184da8;
        transition: 0.5s;
     }
  }
}

.intro {
  margin-bottom: 90px;

  .container {
     display: flex;
     justify-content: space-between;
     gap: 30px;
  }

  &__info {
     margin-top: 160px;
     span {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 18px;
        line-height: 160%;
        text-transform: uppercase;
        color: #3a68b8;
        margin-bottom: 10px;
     }

     h1 {
        font-family: "Open Sans";
        font-weight: 800;
        font-size: 55px;
        line-height: 130%;
        color: #ffffff;
        margin-bottom: 40px;
     }

     p {
        font-size: 18px;
        margin-bottom: 50px;
        max-width: 560px;
     }

     &-buttons {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 20px;

        a {
           padding: 15px 30px;
           background: #3a68b8;
           border-radius: 5px;
           font-family: "Open Sans";
           font-weight: 600;
           font-size: 20px;
           line-height: 27px;
           color: #ffffff;
           display: flex;

           img {
              margin-right: 10px;
              margin-left: 5px;
           }

           transition: 0.5s;
           &:hover {
              background: #184da8;
              transition: 0.5s;
           }
        }
     }
  }

  &__main-img {
     margin-top: 40px;
  }
}

.logos {
  &__raw {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     gap: 50px;
  }

  &__item {
     width: 18rem;
  }
}
